.container {
  width: 100%;
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
}

.innerContainer {
  height: 600px;
  width: 600px;
  background-color: #FDC800;
  border: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}